<div name="search-component">
    <h4>Searrch an preparationstep</h4>
  
    <input #searchBox name="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let preparationstep of preparationstep$ | async" >
        <a routerLink="/detail/preparationstep/{{preparationstep.name}}">
          <span class="badge">{{preparationstep.name}}</span> 
          {{preparationstep.img}}
        </a>
      </li>
    </ul>
  </div>
 
