/* HeroSearch private styles */
.search-result li {
    border-bottom: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 50px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: #607D8B;
  }
  
  .search-result li a {
    color: #888;
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #searchBox {
    padding: 5px;
    width: 195px;
    height: 20px;
  }
  
  
  ul.search-result {
    margin-top: 5px;
    padding-left: 5px;
  }

  .search-result .badge {
    display: inline-block;
    font-size: large;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }