<div name="search-component">
    <h4>Searrch an ingredient</h4>
  
    <input #searchBox name="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let ingredient of ingredient$ | async" >
        <a routerLink="/detail/ingredient/{{ingredient.name}}">
          <span class="badge">{{ingredient.name}}</span> 
          {{ingredient.img}}
        </a>
      </li>
    </ul>
  </div>
 
