<h3>Top Ingredientes</h3>
<div class="grid grid-pad">
  <a *ngFor="let ingredient of ingredient" class="col-1-4"
      routerLink="/detail/ingredient/{{ingredient.name}}">
    <div class="module ingredient">
      <h4>{{ingredient.name}}</h4>
    </div>
  </a>
</div>

<app-ingredient-search></app-ingredient-search>