<h2>My preparationsteps</h2>
<app-preparationstep-search></app-preparationstep-search>
<div>
  <br>
  <label>Name:
    <input #preparationstepName />
  </label>
  <br>
  <br>
  <label>Equipment needed:
    <input #preparationstepEquipment />
  </label>
  <br>
  <br>
  <label>img:
    <input #preparationstepImg />
  </label>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(
    preparationstepName.value,
    preparationstepEquipment.value,
    preparationstepImg.value
    ); 
    preparationstepName.value='';
    preparationstepEquipment.value='';
    preparationstepImg.value='';
    ">
    add
  </button>
</div>

<ul class="Preparationsteps">
  <li *ngFor="let preparationstep of preparationstep">
    <a routerLink="/detail/preparationstep/{{preparationstep.name}}">
      <span class="badge">{{preparationstep.name}}</span> {{preparationstep.name}}
    </a>
    <button class="delete" title="delete preparationstep"
    (click)="delete(preparationstep)">x</button>
  </li>
</ul>
