<!--<ul class="Mealplans">
  <li *ngFor="let mealplan of mealplan">
      <span class="badge">{{mealplan.name}}</span> {{mealplan.name}}
    <button class="delete" title="delete mealplan"
    (click)="delete(mealplan)">x</button>
  </li>
</ul>
-->
<div *ngIf="mealplan">
    <h2>{{ mealplan.name | uppercase }} Details</h2>
    <div><span>Name: </span>{{mealplan.name}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="mealplan.name" placeholder="name"/>
      </label>
      <br>
      <label>energy:
        <input [(ngModel)]="mealplan.energy" placeholder="energy"/>
      </label>
      <br>
      <label>fat:
        <input [(ngModel)]="mealplan.fat" placeholder="fat"/>
      </label>
      <br>
      <label>carbs:
        <input [(ngModel)]="mealplan.carbs" placeholder="carbs"/>
      </label>
      <br>
      <label>protein:
          <input [(ngModel)]="mealplan.protein" placeholder="protein"/>
      </label>
        <br>
      <label>salt:
        <input [(ngModel)]="mealplan.salt" placeholder="salt"/>
      </label>
        <br>
      <label>price:
        <input [(ngModel)]="mealplan.price" placeholder="price"/>
      </label>
        <br>
      <label>img:
        <input [(ngModel)]="mealplan.img" placeholder="img"/>
      </label>
      <br>                        
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>