<div *ngIf="user">
    <h2>{{ user.name | uppercase }} Details</h2>
    <div><span>name: </span>{{user.name}}</div>
    <div>
      <label>Username:
        <input [(ngModel)]="user.username" placeholder="username"/>
      </label>
    </div>
    <div>
    <br>
      <label>Firstname:
        <input [(ngModel)]="user.firstname" placeholder="firstname"/>
      </label> <br>
      <label>Surname:
        <input [(ngModel)]="user.surname" placeholder="surname"/>
      </label> <br>
      <label>Email:
        <input [(ngModel)]="user.email" placeholder="email"/>
      </label> <br>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>