<!--<ul class="Preparationsteps">
  <li *ngFor="let preparationstep of preparationstep">
      <span class="badge">{{preparationstep.name}}</span> {{preparationstep.name}}
    <button class="delete" title="delete preparationstep"
    (click)="delete(preparationstep)">x</button>
  </li>
</ul>
-->
<div *ngIf="preparationstep">
    <h2>{{ preparationstep.name | uppercase }} Details</h2>
    <div><span>Name: </span>{{preparationstep.name}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="preparationstep.name" placeholder="name"/>
      </label>
      <br>
      <label>energy:
        <input [(ngModel)]="preparationstep.energy" placeholder="energy"/>
      </label>
      <br>
      <label>fat:
        <input [(ngModel)]="preparationstep.fat" placeholder="fat"/>
      </label>
      <br>
      <label>carbs:
        <input [(ngModel)]="preparationstep.carbs" placeholder="carbs"/>
      </label>
      <br>
      <label>protein:
          <input [(ngModel)]="preparationstep.protein" placeholder="protein"/>
      </label>
        <br>
      <label>salt:
        <input [(ngModel)]="preparationstep.salt" placeholder="salt"/>
      </label>
        <br>
      <label>price:
        <input [(ngModel)]="preparationstep.price" placeholder="price"/>
      </label>
        <br>
      <label>img:
        <input [(ngModel)]="preparationstep.img" placeholder="img"/>
      </label>
      <br>                        
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>