<div username="search-component">
    <h4>Searrch an user</h4>
  
    <input #searchBox username="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let user of user$ | async" >
        <a routerLink="/detail/user/{{user.username}}">
          <span class="badge">{{user.username}}</span> 
          {{user.img}}
        </a>
      </li>
    </ul>
  </div>
 
