<h2>My recipes</h2>
<app-recipe-search></app-recipe-search>
<div>
  <label>Recipes name:
    <input #recipesName />
  </label>
  <label>Image:
    <input #image />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(
    recipesName.value,
    image.value); 
    recipesName.value='';
    image.value=''">
    add
  </button>
</div>

<ul class="Recipes">
  <li *ngFor="let recipes of recipes">
    <a routerLink="/detail/recipe/{{recipes.name}}">
      <span class="badge">{{recipes.name}}</span> {{recipes.name}}
    </a>
    <button class="delete" title="delete recipes"
    (click)="delete(recipes)">x</button>
  </li>
</ul>