<h2>My ingredients</h2>
<app-ingredient-search></app-ingredient-search>
<div>
  <label>Ingredient name:
    <input #ingredientName />
  </label>
  <div>
    <label>energy:
      <input #energy />
    </label>
    <label>fat:
      <input #fat />
    </label>
    <label>carbs:
      <input #carbs />
    </label>
    <label>protein:
      <input #protein />
    </label>
    <label>salt:
      <input #salt />
    </label>
  </div>
  <div>
    <label>price:
      <input #price />
    </label>
    <label>img:
      <input #img />
    </label>
  </div>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(
    ingredientName.value,
    energy.value,
    fat.value,
    carbs.value,
    protein.value,
    salt.value,
    price.value,
    img.value 
    );
    ingredientName.value='';
    energy.value='';
    fat.value=0;
    carbs.value=0;
    protein.value=0;
    salt.value=0;
    price.value=0;
    img.value=''" >
    add
  </button>
</div>

<ul class="Ingredients">
  <li *ngFor="let ingredient of ingredient">
    <a routerLink="/detail/ingredient/{{ingredient.name}}">
      <span class="badge">{{ingredient.name}}</span> {{ingredient.name}}
    </a>
    <button class="delete" title="delete ingredient"
    (click)="delete(ingredient)">x</button>
  </li>
</ul>

