<h2>My mealplans</h2>

<div>
  <label>Mealplan name:
    <input #mealplanName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(mealplanName.value); mealplanName.value=''">
    add
  </button>
</div>

<ul class="Mealplans">
  <li *ngFor="let mealplan of mealplan">
    <a routerLink="/detail/{{mealplan.name}}">
      <span class="badge">{{mealplan.name}}</span> {{mealplan.name}}
    </a>
    <button class="delete" title="delete mealplan"
    (click)="delete(mealplan)">x</button>
  </li>
</ul>