<!--<ul class="Recipes">
  <li *ngFor="let recipe of recipe">
      <span class="badge">{{recipe.name}}</span> {{recipe.name}}
    <button class="delete" title="delete recipe"
    (click)="delete(recipe)">x</button>
  </li>
</ul>
-->
<div *ngIf="recipe">
    <h2>{{ recipe.name | uppercase }} Details</h2>
    <div><span>Name: </span>{{recipe.name}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="recipe.name" placeholder="name"/>
      </label>
      <br>
      <label>energy:
        <input [(ngModel)]="recipe.energy" placeholder="energy"/>
      </label>
      <br>
      <label>fat:
        <input [(ngModel)]="recipe.fat" placeholder="fat"/>
      </label>
      <br>
      <label>carbs:
        <input [(ngModel)]="recipe.carbs" placeholder="carbs"/>
      </label>
      <br>
      <label>protein:
          <input [(ngModel)]="recipe.protein" placeholder="protein"/>
      </label>
        <br>
      <label>salt:
        <input [(ngModel)]="recipe.salt" placeholder="salt"/>
      </label>
        <br>
      <label>price:
        <input [(ngModel)]="recipe.price" placeholder="price"/>
      </label>
        <br>
      <label>img:
        <input [(ngModel)]="recipe.img" placeholder="img"/>
      </label>
      <br>                        
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>