<div name="search-component">
    <h4>Search a recipe</h4>
  
    <input #searchBox name="search-box" (keyup)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let recipe of recipe$ | async" >
        <a routerLink="/detail/recipe/{{recipe.name}}">
          <span class="badge">{{recipe.name}}</span> 
          {{recipe.img}}
        </a>
      </li>
    </ul>
  </div>
 
