<!--<ul class="Ingredients">
  <li *ngFor="let ingredient of ingredient">
      <span class="badge">{{ingredient.name}}</span> {{ingredient.name}}
    <button class="delete" title="delete ingredient"
    (click)="delete(ingredient)">x</button>
  </li>
</ul>
-->
<div *ngIf="ingredient">
    <h2>{{ ingredient.name | uppercase }} Details</h2>
    <div><span>Name: </span>{{ingredient.name}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="ingredient.name" placeholder="name"/>
      </label>
      <br>
      <label>energy:
        <input [(ngModel)]="ingredient.energy" placeholder="energy"/>
      </label>
      <br>
      <label>fat:
        <input [(ngModel)]="ingredient.fat" placeholder="fat"/>
      </label>
      <br>
      <label>carbs:
        <input [(ngModel)]="ingredient.carbs" placeholder="carbs"/>
      </label>
      <br>
      <label>protein:
          <input [(ngModel)]="ingredient.protein" placeholder="protein"/>
      </label>
        <br>
      <label>salt:
        <input [(ngModel)]="ingredient.salt" placeholder="salt"/>
      </label>
        <br>
      <label>price:
        <input [(ngModel)]="ingredient.price" placeholder="price"/>
      </label>
        <br>
      <label>img:
        <input [(ngModel)]="ingredient.img" placeholder="img"/>
      </label>
      <br>                        
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>