<h2>My users</h2>
<app-user-search></app-user-search>
<div>
  <label>Username:
    <input #usersName />
  </label>
  <label>Firstname:
    <input #firstname />
  </label>
  <label>Surname:
    <input #surname />
  </label>
  <label>Email:
    <input #email />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(
      usersName.value,
      firstname.value,
      surname.value,
      email.value
    ); 
    usersName.value='';
    firstname.value='';
    surname.value='';
    email.value=''">
    add
  </button>
</div>

<ul class="Users">
  <li *ngFor="let users of users">
    <a routerLink="/user_detail/{{users.username}}">
      <span class="badge">{{users.username}}</span> {{users.username}}
    </a>
    <button class="delete" title="delete users"
    (click)="delete(users)">x</button>
  </li>
</ul>